{% extends "layout.twig" %}

{% block head  %}
	<title>Administration</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/post-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Administration</h1>
{% endblock %}

{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th class="text-end">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td scope="row">{{ post.name}}</td>
					<td class="text-end">
						<a href="#" class="btn btn-warning">Modifier</a>
						<a href="#" class="btn btn-danger" onclick="return confirm('Etes-vous certain de vouloir supprimer cet article ?')">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
