{% extends "layout.twig" %}

{% block head  %}
	<title>Administration</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/post-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Administration</h1>
{% endblock %}

{% block content %}{% endblock %}
