{% extends "layout.twig" %}

{% block head  %}
	<title>Administration</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/post-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Administration</h1>
{% endblock %}

{% block content %}
	<form method="post" action="add">
		<button class="btn btn-primary">Ajouter un article</button>
	</form>
	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th class="text-end">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td scope="row">{{ post.name}}</td>
					<td class="text-end">
						<a href="update/{{post.id}}" class="btn btn-warning">Modifier</a>
						<form method="post" action="delete/{{post.id}}" class="d-inline" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet article ?')">
							<button class="btn btn-danger">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
