<img src="imgs/learning.jpg" id="header" alt="header image" class="mb-4 mt-2">

<h3 class="fw-light fst-italic mb-5">Cédric, un développeur passionné et à votre écoute.</h3>

<p>Ce blog a pour but de renforcer mes compétences en PHP, dans le cadre de ma formation PHP / Symfony chez OpenClassRooms.</p>
<p>Pour pouvoir commenter les billets, il est nécessaire de créer un compte et se connecter. Tout commentaire envoyé sera vérifié manuellement avant d'être publié.</p>
<p>Ce blog a été réalisé avec PHP Vanilla, Twig 3, et Bootstrap 5. Les billets de blog sont formatés en Markdown. Il est open-source, n'hésitez-pas à commenter ou me donner vos suggestions :)
	<a href="https://github.com/Drx85/p5_personnal_blog" target="_blank">Lien Github du repositery</a>
</p>

<h2 class="mt-5">Cédric Deperne - A Propos
	<hr/>
</h2>

<div class="row row-cols-1 row-cols-lg-3">
	<div class="col me pe-lg-5 mt-lg-0 mt-4 pe-3">
		<h3>Qui suis-je ?</h3>
		<p>Je suis actuellement en formation de Développeur d'Application PHP / Symfony chez OpenClassRooms.
							Passionné par le domaine du numérique, je souhaite par cette formation valider mes compétences acquises en autodidacte, et approfondir les points que je ne maîtrise pas encore.</p>
	</div>

	<div class="col mx px-12 px-lg-5 mt-lg-0 mt-4 pe-3">
		<h3>Mes logiciels</h3>
		<p>J'utilise principalement Windows 10 comme OS. Pour coder, j'utilise PHPStorm et versionne mon code avec Git. J'ai pour ambition d'installer et m'initier à Docker,
							une solution utilisée par de nombreuses entités. J'ai également pour projet de découvrir Linux, OS incontournable dans le secteur de la programmation.</p>
	</div>

	<div class="col ms ps-12 ps-lg-5 mt-lg-0 mt-4 pe-3" id="social">
		<h3>Social</h3>
		<ul>
			<p>N'hésitez pas à me suivre sur les réseaux sociaux ou consulter mon CV :</p>
			<li class="d-xl-inline">
				<a href="https://github.com/Drx85" target="_blank"><img src="imgs/github.png" alt="Github"></a>
			</li>
			<li class="d-xl-inline ms-0 ms-xl-5">
				<a href="https://www.linkedin.com/in/deperne-cedric/" target="_blank"><img src="imgs/linkedin.png" alt="Linkedin"></a>
			</li>
			<li class="mt-3">
				<a class="btn btn-outline-dark mt-1" href="files/CV_Cedric_Deperne.pdf" download="CV_Cedric_Deperne">Télécharger mon cv</a>
			</li>
		</ul>
	</div>
</div>

<h2 class="mb-3 mt-5 mt-xl-2">Me contacter</h2>

<div class="col-sm-auto col-md-7 col-lg-4 col-xl-3">
	<form method="post" action="index.php?controller=mail&action=submit">
		<div class="mb-2">
			<label for="surname" class="form-label">Prénom :</label>
			<input type="text" class="form-control" name="surname" required/>
		</div>
		<div class="mb-2">
			<label for="name" class="form-label">Nom :</label>
			<input type="text" class="form-control" name="name" required/>
		</div>
		<div class="mb-2">
			<label for="email" class="form-label">Email :</label>
			<input type="email" class="form-control" name="email" required/>
		</div>
		<div class="mb-2">
			<label for="message" class="form-label">Message :</label>
			<textarea name="message" class="form-control" rows="4" required></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Envoyer</button>
	</form>
</div>
