{% extends "layout.twig" %}

{% block head  %}
	<title>Home</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/home-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Barsali boumediene</h1>
	<p>Mon premier blog en PHP</p>
{% endblock %}

{% block content %}
	<p>
		<a href="{{ constant('SCRIPT') ~ '/assets/files/mon_cv.pdf'}}" target="_blank" class="btn btn-success">Telecharger mon CV !</a>
	</p>
{% endblock %}
