{% extends "layout.twig" %}

{% block head  %}
	<title>Home</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/home-bg.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Accueil</h1>
{% endblock %}

{% block content %}
	<h1>Je suis la home page</h1>
{% endblock %}
