{% extends "layouts/layout.twig" %}

{% block head  %}
	<title>Login</title>
{% endblock %}

{% block image %}
	style="background-image:url({{ constant('SCRIPT') ~ '/assets/img/connexion.jpg'}}) "
{% endblock %}

{% block title %}
	<h1>Se connecter</h1>
{% endblock %}


{% block content %}
	{% if _get.register %}
		<div class="alert alert-success">
			Vous êtes bien inscrit , veuillez vous connecté
		</div>
	{% endif %}

	<form method="post" action="{{constant('ROOT')}}/login" id="contactForm" class="mb-5" novalidate>
		<div class="control-group">
			<div class="form-group floating-label-form-group controls">
				<label for="username">Nom d'utilisateur</label>
				<input name="username" type="text" class="form-control" placeholder="Nom d'utilisateur" id="username" required data-validation-required-message="Veuillez renseigner ce champ.">
				<p class="help-block text-danger"></p>
			</div>
		</div>

		<div class="control-group">
			<div class="form-group floating-label-form-group controls">
				<label for="password">Mot de passe</label>
				<input name="password" type="password" class="form-control" placeholder="Mot de passe" id="password" required data-validation-required-message="Veuillez renseigner ce champ.">
				<p class="help-block text-danger"></p>
			</div>
		</div>
		<br>
		<div id="success"></div>
		<div class="form-group">
			<button type="submit" name="submitted" class="btn btn-primary" value="submitted">Connexion</button>
			<a href="{{constant('ROOT')}}/register" class="btn btn-primary">S'inscrire</a>
		</div>
	</form>
{% endblock %}
